ETSY_API_KEY=
ETSY_SHARED_SECRET=
ETSY_ACCESS_TOKEN=
ETSY_REFRESH_TOKEN=
ETSY_TOKEN_EXPIRES_AT=
ETSY_USER_ID=
ETSY_SHOP_ID=
ETSY_SHOP_NAME=
ETSY_REDIRECT_URI=https://parkerwilson2003.github.io/scaling-winner/oauth/callback/
PORT=8787
